* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    height: 100%;
}

/* Header */

.menu-btn {
    color: #424144;
    font-size: 23px;
    cursor: pointer;
    display: none;
}

.navbar {
    padding: 20px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: #f3f4f6;
    box-shadow: 0 0 14px rgba(0, 0, 0, 0.3);
}

.navbar .logo h1 {
    color: #424144;
    border-bottom: 4px solid #EB1D36;
    border-bottom-left-radius: 8px;
}

.navbar .menu li {
    list-style: none;
    display: inline-block;
}

.navbar .menu li a {
    display: block;
    margin-left: 20px;
    color: #424144;
    border-bottom: 4px solid transparent;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    transition: 300ms;
}

.navbar .menu li .active {
    border-bottom: 4px solid #EB1D36;
    border-bottom-left-radius: 7px;
}

.navbar .menu li a i {
    color: #EB1D36;
}

.navbar .menu li a:hover {
    border-bottom: 4px solid #EB1D36;
    border-bottom-left-radius: 8px;
}

/* Content */

.content {
    background-image: url('../img/main-image.png');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: #424144;
    height: 100vh;
}

.content h1 {
    font-size: 40px;
}

.content p {
    font-size: 20px;
}

.content button {
    margin-top: 30px;
    padding: 15px 30px;
    border: none;
    background: #EB1D36;
    color: white;
    font-size: 20px;
    border-radius: 7px;
    cursor: pointer;
}

.pheading {
    text-align: center;
    margin: 50px 0;
    color: #424144;
}

/* Products */

.sec {
    padding: 10px 5%;
}

.products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

.products .card {
    width: 310px;
    background: #f5f5f5;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    border-radius: 7px;
    padding: 5px;
    margin-bottom: 20px;
}

.products .card img {
    height: 210px;
    width: 100%;
}

.products .card .desc {
    padding: 5px 26px;
    opacity: 0.8;
}

.products .card .title {
    font-weight: 900;
    font-size: 20px;
    color: #424144;
    padding: 0 20px;
}

.products .card .box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 26px;
}

.products .card .box .price {
    color: #EB1D36;
    font-size: 26px;
    font-weight: bold;
}

.products .card .box .btn {
    font-size: 13px;
    color: #EB1D36;
    padding: 10px 18px;
    font-weight: 900;
    border: 1px solid #EB1D36;
    border-radius: 7px;
    transition: 300ms;
}

.products .card .box .btn:hover {
    cursor: pointer;
    background-color: #EB1D36;
    color: white;
}

/* Footer */

footer {
    background-color: #f3f4f6;
    height: 10vh;
}

footer p {
    text-align: center;
    line-height: 10vh;
}

footer p a {
    text-decoration: none;
    color: #EB1D36;
    font-weight: bold;
}

/* Shopping Cart */

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    /* Adjust the alpha value to control the opacity */
    z-index: 1000;
    /* Set z-index lower than shopping cart to ensure it's behind it */
}

.shopping-cart {
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    text-align: center;
    width: 450px;
    height: 250px;
    background: #f5f5f5;
    color: #424144;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    border-radius: 7px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1001;
}

.show-cart {
    display: flex;
}


.shopping-cart-close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    border: none;
    cursor: pointer;
}

.shopping-cart-close-btn i {
    font-size: 24px;
    color: #424144;
}

.checkout-btn {
    font-size: 13px;
    color: #EB1D36;
    padding: 10px 18px;
    font-weight: 900;
    border: 1px solid #EB1D36;
    border-radius: 7px;
    transition: 300ms;
}

.checkout-btn:hover {
    cursor: pointer;
    background-color: #EB1D36;
    color: white;
}


/* Responsive */
@media (max-width: 820px) {
    .menu-btn {
        display: block;
        z-index: 999;
    }

    #menu-btn-icon.active::before {
        content: "\f00d";
    }

    .navbar .menu {
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background-color: #f3f4f6;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }

    .navbar .menu.active {
        left: 0;
    }

    .navbar .menu li {
        display: flex;
        justify-content: center;
    }

    .navbar .menu li a {
        margin: 10px 0;
        font-size: 25px;
    }
}